__pycache__/
.vscode
.mypy_cache
.pytest_cache
debug/
temporary/
.venv/
data/
.history/
paper_data/
paper_data/data/
paper_data/*


.gitignore
cov.pkl
pseudo_cov.pkl
sigma.pkl
indices.pkl
nohup.out
*.pkl
*.png
